<section id="regions">
  <h2 class="mb-4 font-weight-bold text-center">Regions</h2>
  <div class="card border-info mb-3" style="width: 100%;">
    <div class="card-body text-info">
      <table class="table table-borderless">

        <!--Table head-->
        <thead style = "background-color: #4dd0e1; color: white;">
            <tr>
                <th>Africa</th>
                <th>Americas</th>
                <th>Asia</th>
                <th>Europe</th>
                <th>Oceania</th>
                <th>Polar</th>
            </tr>
        </thead>
        <!--Table head-->
    
        <!--Table body-->
        <tbody>
            <tr>
                <td>
                  <ul>
                    <li>Eastern Africa</li>
                    <li>Middle Africa</li>
                    <li>Northern Africa</li>
                    <li>Southern Africa</li>
                    <li>Western Africa</li>
                  </ul>
                </td>
                <td>
                    <ul>
                        <li>Caribbean</li>
                        <li>Central America</li>
                        <li>Northern America</li>
                        <li>South America</li>
                      </ul>
                </td>
                <td>
                    <ul>
                        <li>Central Asia</li>
                        <li>Eastern Asia</li>
                        <li>South-Eastern Asia</li>
                        <li>Southern Asia</li>
                        <li>Western Asia</li>
                      </ul>
                </td>
                <td>
                    <ul>
                        <li>Eastern Europe</li>
                        <li>Northern Europe</li>
                        <li>Southern Europe</li>
                        <li>Western Europe</li>
                      </ul>
                </td>
                <td>
                    <ul>
                        <li>Australia and New Zealand</li>
                        <li>Melanesia</li>
                        <li>Micronesia</li>
                        <li>Polynesia</li>
                      </ul>
                </td>
            </tr>
        </tbody>
        <!--Table body-->
    
    </table>
    </div>
  </div>
</section>

