<section id="regions">
  <h2 class="mb-4 font-weight-bold text-center">Regions</h2>
  <div class="card border-info mb-3" style="width: 100%;">
    <div class="card-body text-info">
      <table class="table table-borderless">

        <!--Table head-->
        <thead style = "background-color: #4dd0e1; color: white;">
            <tr>
                <th (click) = "showCountriesRegion('$event.target.textContent')" *ngFor = "let region of regions; let i = index" >{{region}}</th>
            </tr>
        </thead>
        <!--Table head-->
    
        <!--Table body-->
        <tbody>
            <tr>
                <td *ngFor = "let region of subregions">
                  <ul>
                    <li *ngFor = "let subregion of region">{{subregion}}</li>
                  </ul>
                </td>
            </tr>
        </tbody>
        <!--Table body-->
    
    </table>
    </div>
  </div>
</section>

