<div class="modal-dialog cascading-modal" role="document">
  <!--Content-->
  <div class="modal-content">

      <!--Header-->
      <div class="modal-header cyan white-text" *ngIf="share.storiesByCountry">
          <h4 class="title font-weight-bold">Stories for</h4>
          <h4 class="title"> {{share.storiesByCountry[0]}}</h4>
          <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="close()">
              <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body" *ngIf="share.storiesByCountry">
         <!--Table-->
        <table class="table table-hover table-sm">

          <!--Table head-->
          <thead>
              <tr>
                  <th  class="font-weight-bold">Author</th>
                  <th  class="font-weight-bold">Start</th>
                  <th  class="font-weight-bold">End</th>
              </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
              <tr *ngFor="let story of share.storiesByCountry[1]">
                  <td>{{story.author}}</td>
                  <td>{{story.startDate}}</td>
                  <td>{{story.endDate}}</td>
                  <td><button type="button" class="btn btn-cyan btn-sm" (click)="form.show(); getDetail(story)">Update</button></td>               
                  <td><button class="klik" type="button" class="btn btn-red btn-sm" (click)="deleteStory(story)">Delete</button></td>
              </tr>
          </tbody>
          <!--Table body-->

        </table>
      </div>
  </div>
</div>