<section id = 'detail'>
    <h2 class="mb-4 font-weight-bold text-center">Selected Country</h2>        

        <!--Grid row-->
    <div class="row" *ngIf="share.DetailCountry; else start">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
        
            <img src= {{share.DetailCountry.Flag}} alt="flag" style="width: 50%;" *ngIf="share.DetailCountry">
            
        </div>
            <!--Grid column-->
        
        <!--Grid column-->
        <div class="col-lg-6 col-md-12" >
            <table class="table table-borderless table-sm" >
            
                <tbody>
                    <tr>
                        <th scope="row"><i class="fa fa-globe mr-2" aria-hidden="true"></i>Name</th>
                        <td>{{share.DetailCountry.Name}}</td>
                    </tr>
                    <tr>
                        <th scope="row"><i class="fa fa-heart mr-2" aria-hidden="true"></i>Native name</th>
                        <td>{{share.DetailCountry.NativeName}}</td>
                    </tr>
                    <tr>
                        <th scope="row"><i class="fa fa-map-o mr-2" aria-hidden="true"></i>Region</th>
                        <td>{{share.DetailCountry.Region}}</td>
                    </tr>
                    <tr>
                        <th scope="row"><i class="fa fa-map mr-2" aria-hidden="true"></i>Subregion</th>
                        <td>{{share.DetailCountry.SubRegion}}</td>
                    </tr>
                    <tr>
                        <th scope="row"><i class="fa fa-heart-o mr-2" aria-hidden="true"></i>Native language</th>
                        <td>{{share.DetailCountry.NativeLanguage}}</td>
                    </tr>
                    <tr>
                        <th scope="row"><i class="fa fa-money mr-2" aria-hidden="true"></i>Currency name</th>
                        <td>{{share.DetailCountry.CurrencyName}}</td>
                        <th scope="row">Symbol</th>
                        <td>{{share.DetailCountry.CurrencySymbol}}</td>
                    </tr>
                    <tr>
                        <th scope="row"><i class="fa fa-star mr-2" aria-hidden="true"></i>Area</th>
                        <td>{{share.DetailCountry.Area}} km²</td>
                    </tr>
                </tbody>
    
            </table>
        
        </div>
        <!--Grid column-->        
    </div>
    <!--Grid row-->
</section>

<ng-template #noData>
    <i class="fa fa-globe fa-5x blue-text mb-3" aria-hidden="true"></i>
    <p>Your search did not match any country.</p>
</ng-template>

<ng-template #start>
        <div class="text-center mb-4">
            <i class="fa fa-globe fa-5x blue-text mb-3 " aria-hidden="true"></i>
        </div>
</ng-template>