<section id = 'listAll' class="text-center">

    <h2 class="mb-5 font-weight-bold"><a ng-click="prev()"><i class="fa fa-angle-left mr-5" aria-hidden="true"></i></a>All countries<a ng-click="next()"><i class="fa fa-angle-right ml-5"></i></a></h2>
    <!--Table-->
    <table class="table table-hover table-sm">

        <!--Table head-->
        <thead *ngIf="completeList">
            <tr>
                <th>ID</th>
                <th>Country</th>
                <th>Capital</th>
                <th>Region</th>
            </tr>
        </thead>
        <!--Table head-->
    
        <!--Table body-->
        <tbody>
            <tr *ngFor="let country of completeList">
                <th scope="row">{{country.iso2Code}}</th>
                <td>{{country.name}}</td>
                <td>{{country.capitalCity}}</td>
                <td>{{country.region.value}}</td>
            </tr>
        </tbody>
        <!--Table body-->
    
    </table>
    <!--Table-->
   
</section>
